/* Set the global variables for everything. Change these to use your own fonts and colours. */
:root {
  /* Set sans-serif & mono fonts */
  --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
    "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica,
    "Helvetica Neue", sans-serif;
  --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

  /* Body font size. By default, effectively 18.4px, based on 16px as 'root em' */
  --base-fontsize: 1.15rem;

  /* Major third scale progression - see https://type-scale.com/ */
  --header-scale: 1.25;

  /* Line height is set to the "Golden ratio" for optimal legibility */
  --line-height: 1.618;

  /* Default (light) theme */
    --bg: #f3f3f3;
    --accent-bg: #232A39;
    --text: #212121;
    --text-header: #7c0a02;
    --text-light: #232A39;
    --border: #407d75;
    --accent: #7c0a02;
    --accent-light: #ff4040;
    --code: #f06292;
    --preformatted: #ccc;
    --disabled: #111;
  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  /* Set the font globally */
  font-family: var(--sans-font);
}


.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--bg);
    padding: 12px 20px;
}
.logo {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 900;
    color: #7c0a02;
    }
.menu {display: flex;}
.menu li {padding-left: 30px;}
.menu li a {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: var(--text);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--text);
    transition: 0.15s ease-in-out;
}
.menu li a:hover::after {width: 100%;}
.open-menu , .close-menu {
    position: absolute;
    color: var(--text);
    cursor: pointer;
    font-size: 1.5rem;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
#check {display: none;}
