/* Set the global variables for everything. Change these to use your own fonts and colours. */
:root {
  /* Set sans-serif & mono fonts */
  --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
    "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica,
    "Helvetica Neue", sans-serif;
  --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

  /* Body font size. By default, effectively 18.4px, based on 16px as 'root em' */
  --base-fontsize: 1.15rem;

  /* Major third scale progression - see https://type-scale.com/ */
  --header-scale: 1.25;

  /* Line height is set to the "Golden ratio" for optimal legibility */
  --line-height: 1.618;

  /* Default (light) theme */
    --bg: #f3f3f3;
    --accent-bg: #232A39;
    --text: #212121;
    --text-header: #7c0a02;
    --text-light: #232A39;
    --border: #407d75;
    --accent: #7c0a02;
    --accent-light: #ff4040;
    --code: #f06292;
    --preformatted: #ccc;
    --disabled: #111;
  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  /* Set the font globally */
  font-family: var(--sans-font);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


.header{
    border-bottom: 2px solid var(--border);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #212121;

}

.nav-item {
    margin-left: 3rem;
    color: #212121;

}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #212121;
}

.nav-link:hover{
    color: #7c0a02;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 600;
    color: #7c0a02;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

}
